* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

body {
    background-color: #1D3557;
    color: #1D3557;
}

nav {
    opacity: 0.9;
    text-shadow: rgba(0, 0, 0, 0.589);
}

.logo {
    margin: auto;
}

@media (min-width: 768px) {
    .logo {
        margin: 0;
    }
}

.logo img {
    margin-right: 30px;
}


/*-----Header-----*/

@media (min-width: 768px) {
    .hdr-title {
        padding: 0 3.25em;
    }
}

header {
    background-image: url(/muebleria/assets/img/header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em;
    width: 100%;
}

header h1 {
    font-size: 4em;
    font-weight: lighter;
}

@media (min-width: 320px) {
    header h1 {
        font-size: 3em;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 768px) {
    header h1 {
        font-size: 3em;
    }
}

@media (min-width: 1024px) {
    header h1 {
        font-size: 3em;
    }
}


/* ----cards---- */

.card {
    margin-bottom: 10px;
}

.crds {
    color: #1D3557;
}

@media (min-width: 768px) {
    .crds {
        padding: 0 3.25em;
    }
    .card img {
        max-height: 20vw;
    }
}

.bg-trabajos {
    background-color: #E63946;
    width: 100%;
}


/* -----Carousel---- */

.carousel-item img {
    width: 100%;
}

.carousel-item {
    text-align: center;
}

@media (min-width: 768px) {
    .carousel-item img {
        max-height: 700px;
        width: auto;
    }
}


/* ----typeform----- */

@media (min-width: 768px) {
    @media (min-width: 320px) {
        .formsection {}
    }
}